<% include ../includes/header.ejs %>

  <article class="container">
    <h1>Produto cadastrado com sucesso</h1>

    <ul>
      <li><strong>Título</strong> <%= livro.titulo%></li>
      <li><strong>Descrição</strong><%= livro.descricao%></li>
      <li><strong>Preço</strong><%= livro.preco%></li>
    </ul>

  </article>

<% include ../includes/footer.ejs %>
